/*Begin class stuff */
.star-bright, hr.star-dark {
  margin: 40px auto 30px;
  padding: 0;
  max-width: 512px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
  color: #DE5A51;
}

.button {
  color: #DE5A51;
  border: solid 2px #FFF;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.center {
	width: 50%;
}

.fa {
  font-size: 1.5em;
}

.descText {
  max-width:960px;
}

.thirds {
  display: inline-block;
  width: 50%;
  font-family: 'Raleway', sans-serif;
}

.img {
	width: 50;
}

/*
.test {
	border-style: solid;
	border-width: 1px;
}*/


.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.pullOut a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.pullOut a:hover{
	color: #FFFFFF;
}

.sidenav .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.button {
	border-color: transparent;
}

.moreInfoModal {
	display: none;
	position:fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #FFF;
}
/*Begin id stuff*/

#nameline{
  margin-top:-50px;
  width: 50%;
  color: #000;
}

#ML {
  width: 100%;
}

#background{
  background-color: #77585800;
}

#socialBar {
  padding-top:10px;
  padding-bottom:-10px;
  color: #294052;
  text-align:center;
  font-size:24px;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  height: 7%;
}

#moreInfoBar {
  padding-top:10px;
  margin-bottom: 5%;
  color: #294052;
  margin: 0 auto;
  text-align:center;
  font-size:24px;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #FFF;
}

#creatorImg {
  border-radius: 50%;
}

#portID {
  color:#000;
}

#portLineID {
  color: #000;
  padding-bottom:80px;
  width: 10%;
}

#portLineIDCert {
  color: #000;
  padding-bottom:30px;
  width: 40%;
}

#extraspace {
  padding-top: 40px;
  padding-bottom: 40px;
}

#menu {
	padding-left: 1%;
	display: inline-block;
	float: left;
	font-size: 1.5em;
	cursor: pointer;
}

#filterBar {
	display:inline-block;
	width: 70%;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

#nameBar {
	display:inline-block;
	position: relative;
	text-align: center;
}

#locationBar {
	display: inline-block;
	text-align: right;
	margin-right: 1%;
	float:right;
	background: transparent;
	border-color: transparent;
}

#filter {
	height: 100%;
	max-height: 100px;
	font-size: 1.25em;
	border-radius: 10px 10px 10px 10px;
	width:80%;
}

#filterSubmit{
	font-size: 1.25em;
	background: transparent;
	border: none;
}

#firstImage {
	float: left;
	font-size: 2em;
	display: inline-block
	margin-left: 1%;
}

#navigateMe {
	display: inline-block;
	margin-left: auto;
	font-size: 2em;	
	text-align: center;
}

#lastImage {
	display: inline-block;
	float: right;
	font-size: 2em;
	margin-right: 1%
}

#navigation{
	text-align: center;
	margin-top: 2%;
	height: 13%;
}

#mainImg{
	background: 50% 50% no-repeat; 
	width: 75%;
	height: 75%;
	max-width: 800px;
	max-height: 800px;
	margin: auto auto;
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	border-style: solid;
	cursor: pointer;
}

#mobility {
	text-align: center;
	padding-bottom: 5%;
	height:10%;
	position: fixed;
    width: 100%;
    bottom: 0;
	background-color: #FFF;
}

#mobility button{
	margin-top: 5%;
}

#oneLeft {
	float: left;
	font-size: 2em;
	display: inline-block
	padding-left: 5%;
}

#oneRight {
	display: inline-block;
	float: right;
	font-size: 2em;
	margin-right: 2%
}

#save {
	display: inline-block;
	margin-left: auto;
	font-size: 3em;
}

#pullOutMenu{
	height: 100%;
	//max-width: 350px;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

#userImg{
	border-radius: 50%;
	width: 33%;
	background-color: transparent;
}

#padding {
	padding-top: 15%;
}

#foodImg {
	height:70%;
}

#additionalImg{
	width: 20%;
	height: 25%;
	display: inline-block;
	margin-top: 25%;
	margin-left: 5%;
	object-fit: cover;
	margin-bottom: 5%;
	border-style: solid;
}

#moreContact {
	display: inline-block;
	overflow: hidden;
	height: 10%;
	margin-bottom: 5%;
	margin-left: 5%;
	font-family: "Raleway";
}

#moreContact .h3 {
	font-size: 1.2em;
}

#moreImg{
	display:inline;
	overflow: hidden;
	background-size: cover;
	width: 10%;
	height: 10%;
}

#moreBreaker {
	text-align: center;
}

#moreName {
	display: inline-flex;
	margin-top: 3%;
	font-family: "Raleway";
}

#morePictures img {
	max-width: 30%;
	max-height: 30%;
	border-style: solid;
	display: inline;
	
}

#morePictures th {
	width: 33%;
	min-width: 33%;
}

/* Begin specific type stuff */
video {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}
h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

button {
	background-color: transparent;
	border-color: transparent;
}

input {
	text-align: center;
	font-family: 'Raleway';
}
th {
	display: inline;
	width: 200px;
	height:200px;
	zoom: 1;         /* for IE */
	display*:inline; /* for IE */
}
/* Media controls as needed */

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {  
	#mainImg{
	max-width: 700px;
	max-height: 700px;
	margin: auto auto;
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	border-style: solid;
}

	#moreImg {
		margin-top: 15%;
	}

	#mobility {
		padding-bottom: 2%;
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}

@media only screen and (min-width : 1200px) {
	#moreInformation {
		margin-top: 5%;
	}
}
/*

@media only screen and (min-width: 1080px) {
	#moreInformation {
		margin-top: 5%;
	}
}*/
/*
//small phones
@media only screen and (max-height: 900px) {
	#padding {
		padding-top: 20%;
	}
	
	#mainImg {
		max-height: 600px;
		max-width: 600px;
}
*/
/*
@media only screen and (min-width: 1080px) {
	#mobility{
		height: 5%;
	}
}*/