<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134915210-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-134915210-1');
	</script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/main.css">
	<title> FastEats. Food, faster. </title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="scripts/main.js"> </script>
	<link rel="stylesheet" href="css/login.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
	body {font-family: Arial, Helvetica, sans-serif;}
</style>

</head>
<body id='loginbackground'>
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=146022223845"></script>
<div>
<!-- Real Login
<form action="main.html">

  	<div id="screen">
    	<label for="uname"><b>Username</b></label>
    	<input type="text" placeholder="Enter Username" name="uname" required>

    	<label for="psw"><b>Password</b></label>
    	<input type="password" placeholder="Enter Password" name="psw" required>

    	<button class="loginbutton" hidden><span href="main">Login</span></button>
  </div>

</form>
-->
<!-- This is the dummy Wizard of Oz Login -->
<div id="screen">
    	<label for="uname"><b>Username</b></label>
    	<input type="text" placeholder="Enter Username" name="uname" required>

    	<label for="psw"><b>Password</b></label>
    	<input type="password" placeholder="Enter Password" name="psw" required>

    	<a href="main"><button class="loginbutton"><span>Login</span></button> </a>
    	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
	<!--<button class="loginbutton"><span href="main">Login</span></button>-->
</div>
<a href="main"> Dev Login? Click Here </a>

</body>
</html>
