<!DOCTYPE html>
<!-- https://github.com/blueimp/Gallery -->
<!-- inside -->
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<title> FastEats. Food, faster. </title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/blueimp-gallery.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/scripts/main.js"> </script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="background">
	<!--<a name="foods">-->
		<div id="pushField">
		<div id="links">
		    <a href="/img/placeholder.jpg" title="Burger" id="firstSlideshow" class="slideshowImg">
		    </a>
		    <a href="/img/sushi.jpg" title="Sushi" id="secondSlideshow">
		    </a>
		    <a href="/img/ramen.jpg" title="Ramen" id="thirdSlideshow">
		    </a>
		</div>
		<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-controls">
	    <div class="slides" onclick="openModal()"></div>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <!--<a class="play-pause"></a>
	    <ol class="indicator"></ol>-->
			<div id="pullOutMenu" class="pullOut">
				<a href="javascript:void(0)" class="closeButton" onclick="openNav()">&times;</a>
				<img src="/img/defaultUser.jpg" alt="Contact a Dev" title="Image of User" id="userImg">
				<a href="main">Main</a>
				<a href="main2.html">Main2</a>
				<!--<a href="profile.html">Profile</a>-->
				<a href="saved">Saved</a>
				<!--<a href="settings.html">Settings</a> -->
			</div>
			<a name="menuBars">
			    <div class="container-fluid test" id="socialBar">
						<span onclick="openNav()" class="row" id="menu">&#9776;</span>
						<div class="test" id="filterBar">
							<form autocomplete="off" action=()>
								<input class="center" type="text" id="filter" placeholder="Filters">
							</form>
						</div>
						<!--
						<div class="test" id="locationBar">
								<a href="location.html" class="button">
									<i class="fas fa-map-marker-alt fa"></i>
								</a>
						</div> -->
				</div>
			</a>
			<a name="mobilitiyBar">
				<div class="container-fluid test" id="mobility">
					<!-- Go back one image
					<button id="oneLeft" onclick="goBack()"> <i class="fas fa-arrow-left fa"></i> </button> -->
					<!-- Save image to list -->
					<button id="save" onclick="save()"> <i class="far fa-heart"></i> </button>
					<!-- Go to next image
					<button id="oneRight" onclick="goNext()"> <i class="fas fa-arrow-right fa"></i> </button> -->
				</div>
			</a>
			<div id="moreInfoModal" class="moreInfoModal test">

			<div class="container-fluid test" id="moreInfoBar">
				<div class="test" id="menu">
						<a onclick=() class="button">
							<i class="far fa-heart fa"></i>
						</a>
				</div>
					<h4 id="moreName">Resturant Name</h4>
				<div class="test" id="locationBar">
						<a onclick="closeModal()" class="button" id="modalClose">
							<i class="far fa-times-circle"></i>
						</a>
				</div>
			</div>

			<div id="morePicturesScroll" style="width: 100%; height: 100%; overflow: scroll">
				<div class="test" id="moreInformation">
					<img src="/img/placeholder.jpg" id="additionalImg">
					<!--<div id="moreImg" class="test">

					</div>-->
					<div id="moreContact" class="moreInfo">
						<h3 class="contactClass" id="handle">Name of Food</h3>
						<h3 class="contactClass" id="phoneNumber">Phone Number Here</h3>
						<h3 class="contactClass" id="navigate">ETA</h3>
					</div>
				</div>
				<h4 id="moreBreaker"> Other Items from _____ </h4>

					<table id="morePictures" style="width: 100%; margin: 0px 0px;">
						<!--
						<tr>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<!-- Fill images here as needed
						</tr>
						<tr>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<!-- Fill images here as needed
						</tr>
						<tr>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<th><img class="instaStyle" src="/img/placeholder.jpg"></th>
							<!-- Fill images here as needed
						</tr>
						-->
					</table>
			</div>
		</div>
	</div>
	<!--</a>-->
</div>

<script src="scripts/blueimp-gallery.min.js"></script>
<script>
//var list = ["/img/placeholder.jpg", "/img/sushi.jpg", "/img/ramen.jpg"];
var gallery = blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
		list,
    {
        container: '#blueimp-gallery-carousel',
        carousel: true,
				startSlideshow: false,
				fullScreen: false,
				toggleControlsOnSlideClick: false,
				toggleControlsOnSlideClick: false,
				onslide: function (index, slide) {
					/* will need to keep track if going forward or backward */
					console.log('next');
					gallery.add(["/img/udon.jpg"]);
				},
    }
);
</script>
</body>
