<!DOCTYPE html>
<!-- https://github.com/blueimp/Gallery -->
<!-- inside -->
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<title> FastEats. Food, faster. </title>
	<link rel="stylesheet" href="css/main0.css">
	<link rel="stylesheet" href="css/blueimp-gallery.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/scripts/main0.js"> </script>
	<script src="/scripts/swipe.js"> </script>
	{{> facebook}}
	<script src="/scripts/facebook.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body id="background">
	<!--<a name="foods">-->
		<div id="pushField">

			<div id="pullOutMenu" class="pullOut">
				<a href="javascript:void(0)" class="closeButton" onclick="openNav()">&times;</a>
				<img src="/img/defaultUser.jpg" alt="Contact a Dev" title="Image of User" id="userImg">
				<a href="main">Main</a>
				<a href="saved">Saved</a>
			</div>

			<div id=content>
				<div id='slider' class='swipe'>
				  <div id="data-container" class='swipe-wrap'>
<!--
				    <div class="data">
				      <img class="data-img" src="/img/udon.jpg"></img>
							<div id="data-info">
								<div id="data-info-save">
									<button id="save" onclick="save()">
										<i id="heartButton" class="far fa-heart heart"></i>
									</button>
								</div>
								<div id="data-info-fields">
									<h3>Resturant</h3>
									<h3>(123) 456 7890</h3>
								</div>
							</div>
				    </div>
				    <div class="data">
				      <img src="/img/sushi.jpg"></img>
							<h3>Resturant</h3>
							<h3>(123) 456 7890</h3>
				    </div> -->
				  </div>
				</div>
			</div>

			<!--<div><button class="gobutton" style="background-color:#66CD00;"><span>Go</span></button></div>-->

			<div name="menuBars">
				<div class="container-fluid test" id="socialBar">
						<span onclick="openNav()" class="row" id="menu">&#9776;</span>
								<h1 id="title">Fast Eats</h1>
								<!--
								<div class="test" id="filterBar">
									<form autocomplete="off" action=()>
										<input class="center" type="text" id="filter" placeholder="Filters">
									</form>
								</div> -->
						<div class="test" id="locationBar">
								<a href="location.html" class="button" id="navigator">
									<i class="fas fa-map-marked-alt"></i>
								</a>
						</div>
				</div>
			</div>
			<!--<div><button class="gobutton" style="background-color:#66CD00;"><span>Go</span></button></div>-->

		</div>
</body>
