<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title> FastEats. Food, faster. </title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="scripts/saved.js"> </script>
	<link rel="stylesheet" href="css/main.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="background">
	<div id="pushField">
		<div id="saved-container" class="container-fluid test">
			<div id="saved-header">
				<div id="pullOutMenu" class="pullOut">
					<a href="javascript:void(0)" class="closeButton" onclick="openNav()">&times;</a>
					<img src="img/defaultUser.jpg" alt="Contact a Dev" title="Image of User" id="userImg">
					<a href="/">Main</a>
					<!--
					<a href="main2.html">Main2</a>
					<a href="profile.html">Profile</a>
					<a href="settings.html">Settings</a> -->
					<a href="saved">Saved</a>
				</div>
				<h1 id="saved-label">Saved</h1>
				<span onclick="openNav()" class="row" id="saved-menu-button">&#9776;</span>
			</div>
			<div id="saved-body" style="overflow: scroll">
				<table id="saved-food" style="width: 100%; margin: 0px 0px;">
					<!--
					<tr id="savedBar1">
						<th><img class="instaStyle" src="img/placeholder.jpg" id="image1"></th>
						<th><img class="instaStyle" src="img/placeholder.jpg" id="image2"></th>
						<th><img class="instaStyle" src="img/placeholder.jpg" id="image3"></th>
					</tr>
					<tr>
						<th><img class="instaStyle" src="img/placeholder.jpg" id="image4"></th>
						<th><img class="instaStyle" src="img/placeholder.jpg" id="image5"></th>
						<th><img class="instaStyle" src="img/placeholder.jpg" id="image6"></th>
					</tr>

					</tr> -->
				</table>
			</div>
		</div>
	</div>
</body>
