<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title> FastEats. Food, faster. </title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="scripts/saved.js"> </script>
	<link rel="stylesheet" href="css/saved.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="background">
	<div id="pushField">
		<!--<div id="saved-container" class="container-fluid test">-->
				<div id="pullOutMenu" class="pullOut">
					<a href="javascript:void(0)" class="closeButton" onclick="openNav()">&times;</a>
					<img src="img/defaultUser.jpg" alt="Contact a Dev" title="Image of User" id="userImg">
					<a href="main">Main</a>
					<a href="saved">Saved</a>
					<a href="/"> Log Out </a>
				</div>
			<div id="saved-header">
				<a name="menuBars">
						<div class="container-fluid test" id="socialBar">
							<span onclick="openNav()" class="row" id="saved-menu-button">&#9776;</span>
							<h1 id="title">Saved</h1>
					</div>
				</a>
			</div>

			<!-- <div id="padding"> </div> -->
			<div id="saved-body" style="overflow: scroll;">
				<a name="menuBars">
					<div id="saved-container" class="container-fluid test">
					<!-- begin demo rows
						<div class="saved-row" onclick="openModal()">
							<div class="saved-col-left">
								<img class="saved-row-img" src="/img/sushi.jpg"></img>
							</div>
							<div class="saved-col-right">
								<h3 class="saved-row-label">Resturant Name</h3>
								<h4 class="saved-row-label">Added: 1/2/19</h4>
							</div>
						</div>
					 end demo rows -->
					</div>
				</a>
			</div>
		<!--</div>-->

<!--
			<div id="moreInfoModal" class="moreInfoModal test">
				<div class="container-fluid test" id="moreInfoBar">
					<div class="test" id="menu">
							<a onclick=() class="button">
								<i class="far fa-heart fa"></i>
							</a>
					</div>
					<h4 id="moreName">Resturant Name</h4>
					<div class="test" id="locationBar">
						<a onclick="closeModal()" class="button" id="modalClose">
							<i class="far fa-times-circle"></i>
						</a>
					</div>
				</div>

			<div id="morePicturesScroll" style="width: 100%; height: 100%; overflow: scroll">
				<div class="test" id="moreInformation">
					<img src="/img/placeholder.jpg" id="additionalImg">
					<div id="moreImg" class="test">

					</div>
					<div id="moreContact" class="moreInfo">
						<h3 class="contactClass" id="handle">Name of Food</h3>
						<h3 class="contactClass" id="phoneNumber">Phone Number Here</h3>
						<h3 class="contactClass" id="navigate">ETA</h3>
					</div>
				</div>
				<h4 id="moreBreaker"> Other Items from </h4>
					<table id="morePictures" style="width: 100%; margin: 0px 0px;"></table>
			</div>

		</div>
	</div>
-->
		<div id="moreInfoModal" class="moreInfoModal test">

			<div class="container-fluid test" id="moreInfoBar">
				<div class="test" id="menu">
					<a id="navigator" onclick="go()"><button class="gobutton"><span>Go</span></button></a>
						<!--<a href="location.html" class="button" id="navigator">
							<i class="fas fa-map-marked-alt"></i>
						</a>-->
				</div>
					<h6 id="moreName">Resturant Name</h6>
				<div class="test" id="locationBar">
						<a onclick="closeModal()" class="button" id="modalClose">
							<i class="far fa-times-circle black"></i>
						</a>
				</div>
			</div>

			<div id="morePicturesScroll">
				<div class="test" id="moreInformation">
					<img src="/img/placeholder.jpg" id="additionalImg">
					<!--<div id="moreImg" class="test">

					</div>-->
					<div id="moreContact" class="moreInfo">
						<!-- <h3 class="contactClass" id="handle">Name of Food</h3> -->
						<h3 class="contactClass" id="foodType"> Foods </h3>

						<a id="phoneWrapper"> <h3 class="contactClass" id="phoneNumber">Phone Number Here</h3> </a>
						<h3 class="contactClass" id="location"> Location Here </h3>
						<h3 class="contactClass" id="transactions"> No Delivery Available </h3>
						<button id="moreInfo"> <span> Learn More!  </span> </button>

						<!--<h3 class="contactClass" id="navigate">ETA</h3>-->
					</div>
				</div>
				<!--<h4 id="moreBreaker"> Similar Items:</h4>
					<table id="morePictures" style="width: 100%; margin: 0px 0px;">
					</table>-->
			</div>
		</div>
</body>
